html, body, #root {
  height: 100%;
  margin: 0;
}

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

@media only screen and (max-width: 767px) {
    .header {
        flex-direction: column;
    }
}
